{% extends "twitter/index.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <form role="form" action="" method="POST">
            
            <!-- this form needs work -->
            
            <input type='hidden' name='csrfmiddlewaretoken' value='PB1MS641epIjg7rad1X2YlsqjDSBySTP' />
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" name="username" placeholder="Your username" value="">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Your password">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

{% endblock %}